.portfolio {
  @include w767 {
    margin-top: 59px;
  }
}
.card-portfolio {
  &:not(:last-child) {
    border-bottom: 1px solid var(--neutral-10);
  }
  &__container {
    display: flex;
    padding: 0;
    @include w767 {
      flex-direction: column-reverse;
    }
  }
  &__col {
    &:first-child {
      display: flex;
      flex-direction: column;
      padding: 40px;
      border-right: 1px solid var(--neutral-10);
      @include w1023 {
        padding: 22px;
      }
      @include w767 {
        padding-top: 8px;
        border-right: none;
      }
    }
    &:last-child {
      flex: 0 0 472px;
      margin: 40px;
      @include w1200 {
        flex: 0 0 38.48%;
      }
      @include w1023 {
        margin: 22px;
        flex: 0 0 32.1%;
        align-self: flex-start;
      }
      @include w767 {
        flex: initial;
        width: calc(100% - 44px);
      }
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 22px;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.01em;
    @include w1023 {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 23px;
    }
  }
  &__text {
    margin-bottom: 35px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include w1023 {
      margin-bottom: 20px;
      -webkit-line-clamp: 4;
    }
    @include w767 {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 22px 34px;
    width: fit-content;
    margin-bottom: 40px;
    padding-left: 0;
    list-style: none;
    @include w1023 {
      grid-gap: 16px 30px;
      margin-bottom: 30px;
    }
    @include w767 {
      grid-template-columns: auto;
      grid-gap: 19px;
      margin-bottom: 29px;
    }
  }
  &-grid {
    &__item {
      display: flex;
      align-items: center;
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      margin-right: 14px;
      background-color: var(--violet-blue-light-light);
      border-radius: 6px;
      @include w1023 {
        width: 38px;
        height: 38px;
        margin-right: 12px;
      }
    }
    &__title {
      display: block;
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 16px;
      color: var(--neutral-6);
    }
    &__value {
      display: block;
      color: var(--neutral-2);
    }
  }
  &__btns {
    display: flex;
    margin-top: auto;
    @include w767 {
      display: block;
    }
  }
  &__btn {
    padding: 14px 31px;
    @include w1023 {
      padding: 10px 36px;
    }
    @include w767 {
      width: 100%;
    }
    &:not(:last-child) {
      margin-right: 21px;
      @include w1023 {
        margin-right: 12px;
      }
      @include w767 {
        margin-right: 0;
        margin-bottom: 12px;
      }
    }
  }
  &-slider {
    &__wrapper {
      padding-left: 0;
      list-style: none;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    min-height: 366px;
    object-fit: cover;
    border-radius: 6px;
    @include w1023 {
      min-height: auto;
      height: 170px;
    }
    @include w767 {
      height: 206px;
    }
  }
}
