.projects-slider {
  &__container {
    padding-top: 120px;
    @include w1200 {
      padding-top: 100px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    @include w1200 {
      display: block;
      margin-top: 40px;
      margin-bottom: -21px;
    }
  }
  &__tags {
    display: flex;
    padding-left: 0;
    list-style: none;
    @include w1200 {
      transform: translateX(-40px);
      width: 100vw;
      margin-bottom: 10px;
      padding-bottom: 11px;
      padding-left: 40px;
      overflow-x: auto;
    }
    @include w767 {
      transform: translateX(-24px);
      padding-left: 24px;
    }
    &:after {
      @include w1200 {
        content: '';
        flex: 0 0 40px;
      }
      @include w767 {
        flex: 0 0 24px;
      }
    }
  }
  &__tag {
    &:not(:last-child) {
      margin-right: 12px;
    }
    input {
      &:checked + span {
        background-color: var(--violet-blue);
        color: var(--neutral-14);
      }
    }
    span {
      display: block;
      padding: 9px 21px;
      background-color: var(--violet-blue-light-light);
      border-radius: 6px;
      border: 1px solid transparent;
      color: var(--violet-blue);
      cursor: pointer;
      transition: 0.2s;
      white-space: nowrap;
      @include w1023 {
        padding: 7px 17px;
      }
      @include hover {
        &:hover {
          border-color: var(--violet-blue);
        }
      }
      @include active {
        &:active {
          border-color: var(--violet-blue);
        }
      }
    }
  }
  &__all {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    color: var(--orange);
    transition: color 0.2s;
    @include hover {
      &:hover,
      &:focus {
        color: var(--violet-blue);
      }
    }
    @include active {
      &:active {
        color: var(--violet-blue);
      }
    }
  }
  &__wrapper {
    position: relative;
    padding: 0;
    .swiper-button-next,
    .swiper-button-prev {
      @include w767 {
        top: auto;
        bottom: -59px;
        transform: none;
      }
    }
    .swiper-button-next {
      right: -33px;
      @include w767 {
        right: -1px;
      }
    }
    .swiper-button-prev {
      left: -33px;
      @include w767 {
        right: 51px;
        left: auto;
      }
    }
  }
  &__swiper {
    margin-left: -1px;
    margin-right: -1px;
  }
  &__list {
    padding-left: 0;
    list-style: none;
  }
  &__item {
    height: auto;
    &:not(:last-child) {
      border-right: 1px solid var(--neutral-10);
    }
  }
}
