.card-project
  .card-project__slider.card-project-slider.photo__slider.swiper-container
    ul.card-project-slider__wrapper.swiper-wrapper
      li.card-project-slider__item.swiper-slide
        picture.card-project__picture
          source(type="image/webp" srcset="images/house.jpg")
          img.card-project__img(src="images/house.jpg" alt="Проект 212")
      li.card-project-slider__item.swiper-slide
        picture.card-project__picture
          source(type="image/webp" srcset="images/house.jpg")
          img.card-project__img(src="images/house.jpg" alt="Проект 212")
      li.card-project-slider__item.swiper-slide
        picture.card-project__picture
          source(type="image/webp" srcset="images/house.jpg")
          img.card-project__img(src="images/house.jpg" alt="Проект 212")
      li.card-project-slider__item.swiper-slide
        picture.card-project__picture
          source(type="image/webp" srcset="images/house.jpg")
          img.card-project__img(src="images/house.jpg" alt="Проект 212")
      li.card-project-slider__item.swiper-slide
        picture.card-project__picture
          source(type="image/webp" srcset="images/house.jpg")
          img.card-project__img(src="images/house.jpg" alt="Проект 212")
    .swiper-pagination
  h3.card-project__title Проект 212
  p.card-project__text Равным образом рамки и место обучения кадров позволяет выполнять важные задания по разработке позиций, занимаемых равным образом рамки и место обучения кадров позволяет выполнять важные задания по разработке позиций, занимаемых
  .card-project__row 
    span Площадь
    span 89.50 м²
  .card-project__row 
    span Масштаб
    span 10.5 х 20.3 м
  .card-project__row 
    span Стоимость
    span 95 650 000 руб
  .card-project__row 
    span Материалы
    span Каркас, кирпич
  a.card-project__btn.secondary-btn(href="#") Смотреть подробнее
  button.card-project__btn.primary-btn Сделать заказ