extends ../template

block variables
  - var title = 'О компании'

block content
  section.about
    .container.section-top
      h1.title О компании

    .border-block 
      .services__container.container
        .services__col
          p Равным образом рамки и место обучения кадров позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же сложившаяся структура организации требуют определения и уточнения существенных финансовых и административных условий. 
          p Повседневная практика показывает, что новая модель организационной требуют определения и уточнения систем массового участия. Таким образом мы реализация намеченных плановых заданий представляет собой интересный мир вокруг.
          p Повседневная практика показывает, что новая модель организационной деятельности требуют определения и уточнения систем массового участия и силы.
        .services__col
          picture.services__picture
            source(type="image/webp" srcset="images/about.jpg")
            img.services__img(src="images/about.jpg" alt="О компании")

    .container.section-top.padding-section
      h2.title Лицензии и ГОСТ
    .licenses
      ul.licenses__list.container
        li.licenses__item.licenses-item
          picture.licenses-item__picture
            source(type="image/webp" srcset="images/licenses.png")
            img.licenses-item__img(src="images/licenses.png" alt="О компании")
          h3.licenses-item__title Сказочный дом в деревенской глуши
          p.licenses-item__text Равным образом рамки и место обучения повседневная практика показывает нам что укрепление и развитие структуры новой характеристики нашей судьбы сегодня.
        li.licenses__item.licenses-item
          picture.licenses-item__picture
            source(type="image/webp" srcset="images/licenses.png")
            img.licenses-item__img(src="images/licenses.png" alt="О компании")
          h3.licenses-item__title Лицензия №2
          p.licenses-item__text Равным образом рамки и место обучения кадров позволяет выполнять важные задания по разработке четкой позиций, занимаемых.
        li.licenses__item.licenses-item
          picture.licenses-item__picture
            source(type="image/webp" srcset="images/licenses.png")
            img.licenses-item__img(src="images/licenses.png" alt="О компании")
          h3.licenses-item__title Сказочный дом в деревенской глуши
          p.licenses-item__text Равным образом рамки и место обучения кадров позволяет выполнять важные задания по разработке четкой позиций, занимаемых. Повседневная практика показывает нам что укрепление и развитие структуры.
        li.licenses__item.licenses-item
          picture.licenses-item__picture
            source(type="image/webp" srcset="images/licenses.png")
            img.licenses-item__img(src="images/licenses.png" alt="О компании")
          h3.licenses-item__title Сказочный дом в деревенской глуши
          p.licenses-item__text Равным образом рамки и место обучения кадров позволяет выполнять важные задания по разработке четкой позиций, занимаемых. Повседневная практика показывает нам что укрепление и развитие структуры.
        li.licenses__item.licenses-item
          picture.licenses-item__picture
            source(type="image/webp" srcset="images/licenses.png")
            img.licenses-item__img(src="images/licenses.png" alt="О компании")
          h3.licenses-item__title Заправление деревней
          p.licenses-item__text Равным образом рамки и место обучения повседневная практика показывает нам что укрепление и развитие структуры новой характеристики нашей судьбы сегодня.
        li.licenses__item.licenses-item
          picture.licenses-item__picture
            source(type="image/webp" srcset="images/licenses.png")
            img.licenses-item__img(src="images/licenses.png" alt="О компании")
          h3.licenses-item__title Лицензия №2
          p.licenses-item__text Равным образом рамки и место обучения кадров позволяет выполнять важные задания по разработке четкой позиций, занимаемых.
