extends ../template

block variables
  - var title = 'Проекты'

block content
  section.projects
    .projects__top.container 
      h1.title Проекты
      p.projects__text У всех нас свои предпочтения, вкусы и привычки, но каждому хочется быть стильным и ярким. Изделия созданные нами с нуля достаточно износостойкие и становятся эталоном качества для других.
      ul.projects__filters.projects-filters
        li.projects-filters__item.projects-filters__item--sort.select(select--active)
          button.projects-filters__btn.select-open По популярности
          .projects-filters__content.projects-filters-content.select-content 
            label.projects-filters-content__item
              input.visually-hidden(type="radio" name="sort" checked)
              span По популярности
            label.projects-filters-content__item
              input.visually-hidden(type="radio" name="sort")
              span От А до Я
            label.projects-filters-content__item
              input.visually-hidden(type="radio" name="sort")
              span От Я до А
            label.projects-filters-content__item
              input.visually-hidden(type="radio" name="sort")
              span Сначала дешевые
            label.projects-filters-content__item
              input.visually-hidden(type="radio" name="sort")
              span Сначала дорогие
            button.projects-filters-content__accept.primary-btn Применить
        li.projects-filters__item.projects-filters__item--filters
          button.projects-filters__btn Фильтр
            <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 6L7.5 6M7.5 6C7.5 4.89543 6.60457 4 5.5 4C4.39543 4 3.5 4.89543 3.5 6M7.5 6C7.5 7.10457 6.60457 8 5.5 8C4.39543 8 3.5 7.10457 3.5 6M3.5 6L1 6M16 14L13.5 14M13.5 14C13.5 12.8954 12.6046 12 11.5 12C10.3954 12 9.5 12.8954 9.5 14M13.5 14C13.5 15.1046 12.6046 16 11.5 16C10.3954 16 9.5 15.1046 9.5 14M9.5 14H1" stroke="#6F49FF"/>
            </svg>
        li.projects-filters__item.select(select--active) 
          button.projects-filters__btn.select-open(filters-count="1") Материал
          .projects-filters__content.select-content 
        li.projects-filters__item.select(select--active) 
          button.projects-filters__btn.select-open Площадь (м2)
          .projects-filters__content.select-content 
        li.projects-filters__item.select(select--active) 
          button.projects-filters__btn.select-open Размер
          .projects-filters__content.select-content 
        li.projects-filters__item.select(select--active) 
          button.projects-filters__btn.select-open(filters-count="2") Этажность
          .projects-filters__content.select-content 
        li.projects-filters__item.select(select--active) 
          button.projects-filters__btn.select-open(filters-count="3") Кол-во комнат
          .projects-filters__content.select-content 
        li.projects-filters__item.select(select--active) 
          button.projects-filters__btn.select-open Цена (руб)
          .projects-filters__content.select-content
      button.projects__clear(projects__clear--active) Очистить фильтр
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 6.5L17.5 18.5M5.5 18.5L17.5 6.5" stroke="#151515" stroke-opacity="0.4"/>
        </svg>

    .border-block
      ul.projects__container.container
        li.projects__item
          include ../includes/card-project.pug
        li.projects__item
          include ../includes/card-project.pug
        li.projects__item
          include ../includes/card-project.pug
        li.projects__item
          include ../includes/card-project.pug
        li.projects__item
          include ../includes/card-project.pug
        li.projects__item
          include ../includes/card-project.pug
        li.projects__item
          include ../includes/card-project.pug
        li.projects__item
          include ../includes/card-project.pug

    .container.projects-pagination__wrap
      ul.projects__pagination.projects-pagination
        li.projects-pagination__item 
          .projects-pagination__link.projects-pagination__link--arr
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 12L10 8M6 12L10 16M6 12H18.5" stroke="#151515"/>
            </svg>
        li.projects-pagination__item 
          .projects-pagination__link.projects-pagination__link--active 01
        li.projects-pagination__item 
          a.projects-pagination__link(href="#") 02
        li.projects-pagination__item 
          a.projects-pagination__link(href="#") 03
        li.projects-pagination__item 
          .projects-pagination__link ...
        li.projects-pagination__item 
          a.projects-pagination__link(href="#") 20
        li.projects-pagination__item 
          a.projects-pagination__link.projects-pagination__link--arr(href="#") 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.5 12L14.5 8M18.5 12L14.5 16M18.5 12H6" stroke="#151515"/>
            </svg>
