extends ../template

block variables
  - var title = 'Услуги'

block content
  section.services
    .container.section-top
      h1.title Услуги

    .border-block 
      .services__container.container
        .services__col
          h3 Архитектурный (эскизный) проект
          p Архитектурное проектирование загородных домов и коттеджей дает возможность наглядно представлять себе внешний вид задуманного дома и увязать основные элементы его конструкции друг с другом, чтобы не вышло так, что подняться по лестнице можно лишь на четвереньках, а дымоход упирается в ендову. 
          p Желательно, чтобы на этапе архитектурного проектирования дома или коттеджа у заказчика уже имелось хотя бы примерное представление о том, каким инженерным оборудованием будет оснащено его загородное жилище, где оно будет расположено и как пройдут по дому воздуховоды, дымоходы, стояки и трубы.
          h3 Конструктивная часть проекта
          p Объемистая конструктивная часть проекта загородного дома, содержащая подробную информацию обо всех элементах, узлах и особенностях конструкции дома, требуется прорабу и бригадиру для того, чтобы вести строительство точно и без ошибок, увязывая между собой разные стадии строительства, и контролировать работу строителей с чертежами в руках. Это позволяет избежать многих нестыковок и переделок, что, в конечном итоге, приводит к экономии бюджета и сокращению сроков строительства.
          h3 План разводки инженерных коммуникаций
          p Инженерная часть проекта загородного дома содержит состав и размещение инженерного оборудования для систем отопления загородного дома , водоснабжения и электроснабжения, системы автономной канализации, приточно-вытяжной вентиляции и т.д.; схемы разводки стояков, труб, кабелей, воздуховодов вентиляционной системы. Она позволяет предусмотреть в планировке дома необходимые помещения для установки инженерного оборудования, а в конструктиве — нужные отверстия, каналы, закладные и т.д.
          h3 Дизайн-проект
          p Архитектурное проектирование загородных домов и разработку проектной документации может дополнить дизайн-проект. Компьютерное проектирование домов и коттеджей с созданием 3D-модели позволяет выбрать наружную и внутреннюю отделку, подобрать отделочные материалы, расцветки, декоративные элементы и увидеть дом таким, каким он будет в готовом виде, еще до начала строительства.
          h3 Что заказывать?
          p Наличие полного проекта загородного дома, включающего в себя архитектурную, конструктивную и инженерную части, а также дизайн-проект, — это, конечно, очень хорошо с точки зрения качества строительства, но жизнь вносит свои коррективы. Большинство клиентов компании «Загородный дом» заказывают так называемую «утверждаемую» часть проекта, т.е. архитектурный проект дома в том объеме, в каком он необходим для утверждения в местной администрации. Причина состоит в том, что полный комплект рабочих чертежей — вещь достаточно трудоемкая и, соответственно, дорогая.
          p Все стадии проектирования загородных домов: создание архитектурного (эскизного) проекта, полного комплекта рабочих чертежей, планов , расчет и проектирование систем электроснабжения, отопления и водоснабжения загородного дома, канализации и т.д., — могут выполнить специалисты-проектировщики компании «Загородный дом», что, как правило, намного выгоднее и удобнее, чем привлечение сторонних организаций.
          button.services__btn.primary-btn Оформить заявку
        .services__col
          ul.services__list.services-list
            li.services-list__item 
              button.services-list__btn(style="background-image: url('images/services-item.jpg')")
                span
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.5 13.5L4.14645 13.1464L4 13.2929V13.5H4.5ZM13.5 4.5L13.8536 4.14645C13.6583 3.95118 13.3417 3.95118 13.1464 4.14645L13.5 4.5ZM18.5 9.5L18.8536 9.85355C19.0488 9.65829 19.0488 9.34171 18.8536 9.14645L18.5 9.5ZM9.5 18.5V19H9.70711L9.85355 18.8536L9.5 18.5ZM4.5 18.5H4C4 18.7761 4.22386 19 4.5 19V18.5ZM4.85355 13.8536L13.8536 4.85355L13.1464 4.14645L4.14645 13.1464L4.85355 13.8536ZM13.1464 4.85355L18.1464 9.85355L18.8536 9.14645L13.8536 4.14645L13.1464 4.85355ZM18.1464 9.14645L9.14645 18.1464L9.85355 18.8536L18.8536 9.85355L18.1464 9.14645ZM9.5 18H4.5V19H9.5V18ZM5 18.5V13.5H4V18.5H5ZM10.1464 7.85355L15.1464 12.8536L15.8536 12.1464L10.8536 7.14645L10.1464 7.85355ZM12 19H19V18H12V19Z" fill="#151515"/>
                  </svg>
                span Проектирование
            li.services-list__item 
              button.services-list__btn.services-list__btn--notactive(style="background-image: url('images/services-item.jpg')")
                span
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.0494 11.9144L16.9121 11.4337L17.0494 11.9144ZM12.2253 13.2928L12.3626 13.7735L12.3626 13.7735L12.2253 13.2928ZM9.5 15.5V15C9.22386 15 9 15.2239 9 15.5H9.5ZM13.5 15.5H14C14 15.2239 13.7761 15 13.5 15V15.5ZM13.5 18.5V19C13.7761 19 14 18.7761 14 18.5H13.5ZM9.5 18.5H9C9 18.7761 9.22386 19 9.5 19V18.5ZM5.5 5H15.5V4H5.5V5ZM16 5.5V7.5H17V5.5H16ZM15.5 8H5.5V9H15.5V8ZM5 7.5V5.5H4V7.5H5ZM5.5 8C5.22386 8 5 7.77614 5 7.5H4C4 8.32843 4.67157 9 5.5 9V8ZM16 7.5C16 7.77614 15.7761 8 15.5 8V9C16.3284 9 17 8.32843 17 7.5H16ZM15.5 5C15.7761 5 16 5.22386 16 5.5H17C17 4.67157 16.3284 4 15.5 4V5ZM5.5 4C4.67157 4 4 4.67157 4 5.5H5C5 5.22386 5.22386 5 5.5 5V4ZM18 8.5V9.9914H19V8.5H18ZM16.9121 11.4337L12.0879 12.812L12.3626 13.7735L17.1868 12.3952L16.9121 11.4337ZM11 14.2543V15.5H12V14.2543H11ZM12.0879 12.812C11.444 12.996 11 13.5846 11 14.2543H12C12 14.0311 12.148 13.8349 12.3626 13.7735L12.0879 12.812ZM18 9.9914C18 10.6611 17.556 11.2497 16.9121 11.4337L17.1868 12.3952C18.2601 12.0886 19 11.1076 19 9.9914H18ZM16.5 7C17.3284 7 18 7.67157 18 8.5H19C19 7.11929 17.8807 6 16.5 6V7ZM9.5 16H13.5V15H9.5V16ZM13 15.5V18.5H14V15.5H13ZM13.5 18H9.5V19H13.5V18ZM10 18.5V15.5H9V18.5H10Z" fill="#6F49FF"/>
                  </svg>
                span Отделка
            li.services-list__item 
              button.services-list__btn.services-list__btn--notactive(style="background-image: url('images/services-item.jpg')") 
                span
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 18.5H19M10.5 10.5V13.5M12.5 10.5V13.5M11.5 10.5C9.84315 10.5 8.5 9.15685 8.5 7.5C8.5 5.84315 9.84315 4.5 11.5 4.5C13.1569 4.5 14.5 5.84315 14.5 7.5C14.5 9.15685 13.1569 10.5 11.5 10.5ZM4.5 16.5V15.5C4.5 14.3954 5.39543 13.5 6.5 13.5H16.5C17.6046 13.5 18.5 14.3954 18.5 15.5V16.5H4.5Z" stroke="#6F49FF"/>
                  </svg>
                span Инженерные услуги
            li.services-list__item 
              button.services-list__btn.services-list__btn--notactive(style="background-image: url('images/services-item.jpg')") 
                span
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5 19V11M11.5 11.5V14.5M11.5 11.5C11.5 9.29086 9.70914 7.5 7.5 7.5H4.5V10.5C4.5 12.7091 6.29086 14.5 8.5 14.5H11.5M11.5 11.5H14.5C16.7091 11.5 18.5 9.70914 18.5 7.5V4.5H15.5C13.2909 4.5 11.5 6.29086 11.5 8.5V11.5ZM11.5 11.5L15.5 7.5M11.5 14.5L7.5 10.5" stroke="#6F49FF"/>
                  </svg>
                span Земляные работы
            li.services-list__item 
              button.services-list__btn.services-list__btn--notactive(style="background-image: url('images/services-item.jpg')") 
                span 
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 19L13 11M7 17L9 19M9 15L11 17M15.5 12C13.567 12 12 10.433 12 8.5C12 6.567 13.567 5 15.5 5C17.433 5 19 6.567 19 8.5C19 10.433 17.433 12 15.5 12Z" stroke="#6F49FF"/>
                  </svg>
                span Под ключ
          picture.services__picture
            source(type="image/webp" srcset="images/aside-img.jpg")
            img.services__img(src="images/aside-img.jpg" alt="Услуги")